body {
  background-color: #edeff6;
}

h1, h2, h3, h4, h5, h6 {
  color: navy;
  text-align: center;
}

.footer {
  display: none !important;
  visibility: hidden
}

/* For devices smaller than 430px: */
.responsive-img {
  width: 100%; 
  height: auto
}

/* For devices 430px and larger: */
@media only screen and (min-device-width: 430px) {
.responsive-img {
  width: 23%; 
  height: auto
}
}
